            <!-- Sidebar Widgets Column -->
<div class="col-md-4">  
    <!-- Categorias Widget -->
    @{
        Html.RenderAction("_PartialCategorias", "Categorias");
    }

    <!-- Tags Widget -->
    @{
         Html.RenderAction("_PartialTags", "Tags");
     }

</div>
